@font-face {
    font-family: 'CustomFont'; 
    src: url('/public/fonts/4c285fdca692ea22-s.p.woff2') format('woff2');
}

.fc {
    display:flex;
    flex-direction: column;
}

.fr {
    display:flex;
    flex-direction:row;
}

.grey-font {
    color: rgba(255, 255, 255, 0.7)
}

.temp {
    flex:1;
    padding: 4px;
}

.left {
    text-align:left;
}
.right {
    text-align:right;
}

#weather-container{
    height: 100%;
    width:70%;
    gap:20px;
}

.weather-component {
    font-family: CustomFont;
    width:100%;
    min-height:230px;
    border-radius: 8px;
    font-size:80px;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding:0px;
}

.bg {
    background-color: rgba(0,0,0,0.25)
}

#current-temperature {
    gap:15px;
}

.medium {
    font-size:15px;
}

.medium > img {
    height: 130px;
}

.larger {
    font-size:20px;
}

span#degrees{
    font-size: 30px;
    height:100%;
}

#desc {
    font-size:30px;
    text-align: left;
}

.day {
    display:flex;
    justify-content:center;
    min-height:240px;
    width: 19%;
    padding: 5px;
}

.day > .obs-header {
    height:20%;
}

.day > .obs-footer{
    height:20%;
}
.day > img {
    height:auto;
}

.icon-Big{
    height:100px;
    width:100px;
}

.small-font {
    font-size:10px;
}
.smaller-font {
    font-size:13px;
}

#detailed-observations{
    display:flex;
    justify-content: space-between;
    gap:5px;
}

#detailed-observations > div{
    border-radius: 10px;
    padding-left: 5px;
    padding-right:5px;
}

.component-label {
    font-size:25px;
    color: white;
    margin-bottom:5px;
    font-weight:bold;
} 